@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

@layer components {
  .text-2xl {
    line-height: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.005em;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-optical-sizing: auto;
  font-kerning: normal;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

h2 {
  text-transform: uppercase;
}
