@tailwind base;
@tailwind components;
@tailwind utilities;

[data-collapsible="true"].bg-white + [data-collapsible="true"].bg-white {
  @apply pt-0 md:pt-0;
}

@layer base {
  @font-face {
    font-family: Panama;
    font-weight: 400;
    src: url(/fonts/PanamaMonospaceRegular.woff) format("woff");
  }

  html {
    @apply font-serif;
    font-size: 18px;
    line-height: 1.2em;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a:link,
  a:visited {
    text-decoration-color: rgba(0, 0, 255, 0.7);
    text-decoration-style: wavy;
    text-underline-offset: 3px;
  }

  a:hover {
    text-decoration-color: rgba(0, 0, 255, 1);
  }

  .card h4 {
    border-bottom: 1px dashed;
    padding-bottom: 0.5em;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
